$button-border: #e0e0e0;
$button-size: 32px;
$button-border-size: 24px;
$button-active-background: #edf5ff;
$button-active-border: #0f62fe;

$emoji-size: 16px;
$emoji-margin: 16px;
$emoji-zoom: 2;
$emoji-list-margin: 20px;

$tooltip-background: #161616;
$tooltip-border-size: 2px;
$tooltip-vertical-padding: 12px;
$tooltip-horizontal-padding: 16px;
$tooltip-font: 12px;
$tooltip-color: white;

$summary-details-height: 300px;
$tab-height: 40px;
$tab-horizontal-padding: 16px;
$tab-font: 14px;
